version: 2.1
orbs:
  architect: giantswarm/architect@dev:custom_tag

workflows:

  package-and-push-chart-on-tag:
    jobs:
      
      # Ensure that for every commit (all branches), and for every new release tag,
      # an image is pushed to Quay.
      - architect/push-to-docker:
          name: push-to-quay
          image: "quay.io/giantswarm/coreos-nvidia-driver-installer"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          filters:
            tags:
              only: /^v.*/

      # Ensure that for every commit to master, and for every new release tag,
      # an image gets pushed to the Aliyun registry.
      - architect/push-to-docker:
          name: push-to-aliyun
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/coreos-nvidia-driver-installer"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: "package and push kubernetes-gpu chart"
          app_catalog: "giantswarm-playground-catalog"
          app_catalog_test: "giantswarm-playground-test-catalog"
          chart: "kubernetes-gpu-app"
          requires:
            - "push-to-quay"
            - "push-to-aliyun"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
